/* Global styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #09090b;
}

@media (min-width: 960px) {
    body {
        margin-left: 25%;
        margin-top: 5rem;
        margin-right: 25%;
    }
}

@media (max-width: 600px) {
    body {
        margin-left: 5%;
        margin-top: 3rem;
        margin-right: 5%;
    }
}

hr {
    height: 1px;
    background-color: #27272a;
    opacity: 0.7;
    border: none;
    margin: 15px 0;
}
